<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirect everything to public folder
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

<FilesMatch "^(\.env|\.git|composer\.json|composer\.lock|artisan|server\.php|phpunit\.xml)">
    # For Apache 2.4+
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    
    # For Apache 2.2
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Deny from all
    </IfModule>
</FilesMatch>

# Block access to vendor directory
<IfModule mod_rewrite.c>
    RewriteRule ^vendor/.*$ - [F,L]
</IfModule>